.card {
    width: 150px;
    height: 150px;
    background-color: #333;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .card:hover {
    background-color: #1db954;
  }
  